@import "tailwindcss";
@import "daisyui/daisyui.css";

@import "@heroui/styles";


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: fit-content;
  animation: scroll 30s linear infinite;
  gap: 20px;
}